node_modules
.next
**/.DS_Store
**/node_modules
**/.next
**/.idea
**/yarn-error.log
**/yarn.lock
**/package-lock.json
**/coverage
**/dist
**/build
**/out
**/public
**/private
**/tmp
**/temp
**/logs
**/npm-debug.log
**/pnpm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/lerna-debug.log  
next-env.d.ts